.main {
  display: flex;
  flex-direction: column;
}
.boxContainer {
  width: 95%;
  max-height: 95%;
  max-width: 600px;
  height: 600px;
  border-radius: 5px;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
}
