.box {
  --size: 80px;
  min-width: var(--size);
  aspect-ratio: 1;
  width: fit-content;
  background: rgb(185, 185, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
}

.box input {
  max-width: 30ch;
  padding: 10px 15px;
  display: block;
  border: none;
  background-color: #ffffff29;
  text-align: center;
}
