.clickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.clickerContainer button {
  font-size: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 15px;
}
.h1 {
  font-size: 30px;
}
.h2 {
  font-size: 50px;
  margin: 20px 30px;
}
